<!DOCTYPE html>
<html>
<head>
<title>Classificação de processos</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
  <nav class="navbar navbar-dark bg-dark shadow-sm d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-4">
    <a href="/" class="navbar-brand my-0 mr-md-auto font-weight-normal">IA3VP | Classificador de processos</a>
    <form class="my-2 my-md-0 mr-md-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Número do processo" name="processo" value="{{ processo }}" autofocus style="width: 240px">
        <div class="input-group-prepend">
            <button class="btn btn-primary" type="submit">Classificar</button>
          </div>
        </div>
    </form>
  </nav>

  {% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
