{% extends "base.html" %}

{% block content %}

{% if lista|length > 0 %}

  <div class="container">

  {% for item in lista %}
    <div class="row shadow-sm p-3 mb-4 border rounded bg-light">
      <div class="col-md-5">
        <pre>{{ item.acordao.texto }}</pre>
        {% if item.classe %}
        <h2><small>Classificado como </small><span class="badge badge-dark">{{ item.classe }}</span></h2>


        <div class="text-info p-1">
          {% if item.classes|length > 0 %}
            <p>Pela ocorrência de palavras:
            {% for classe in item.classes %}
            {{ classe }}
            {% endfor %}
            </p>
          {% endif %}
          {% if item.classe_lei %}
            <p>Pelas leis e artigos: {{ item.classe_lei }}
            <ul>
            {% for lei in item.leis %}
              <li>{{ lei }}</li>
            {% endfor %}
            </ul>
            </p>
          {% endif %}
        </div>
        {% else %}
        <p class="alert alert-warning">Nenhuma classe encontrada.</p>
        {% endif %}
      </div>
      <div class="col-md-7">
        <p>{{ item.acordao.ementa }}</p>
      </div>
    </div>     
  {% endfor %}

  </div>

{% elif processo %}
    <p class="alert alert-danger">Não foram encontrados acordãos para o processo <strong>{{processo}}</strong>.</p>

{% else %}
  {% include "welcome.html" %}
{% endif %}

{% endblock %}
