{% extends "base.html" %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h2>Classificador de processos</h2>
    <p>Busca acordãos no TJSC e classifica pelo texto da ementa</p>
    <form>
      <input type="text" class="input-lg" style="width: 300px" placeholder="Número do processo" name="processo" value="{{ processo }}" autofocus/>
      <button type="submit" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-flash"></span> Classificar</a>
    </form>
  </div>
</div>
<div class="container">

  <div class="row">

{% if lista|length > 0 %}
  {% for item in lista %}      
    <div class="col-md-12">
      <pre>{{ item.acordao.texto }}</pre>
      <p>{{ item.acordao.ementa }}</p>

      {% if item.classes|length > 0 %}
      <p class="alert alert-info">Classe(s):
        {% for classe in item.classes %}
        <span class="badge badge-dark">{{ classe }}</span>
        {% endfor %}
      </p>
      {% else %}
      <p class="alert alert-warning">Nenhuma classe encontrada.</p>
      {% endif %}
      <br>
    </div>  
  {% endfor %}
{% elif processo %}
    <p class="alert alert-danger">Não foram encontrados acordãos para o processo <strong>{{processo}}</strong>.</p>
{% else %}
    <p class="alert alert-info">A versão atual classifica em
    {% for rotulo in rotulos[:-2] %}
      <strong>{{rotulo}}</strong>,
    {% endfor %}
    <strong>{{rotulos[-2]}}</strong> e <strong>{{rotulos[-1]}}</strong>
    </p>
{% endif %}

  </div>
</div>
{% endblock %}
