<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h3>Classificação de acórdão por Machine Learning</h3>
            
            <p class="lead">Busca por acórdãos no Tribunal de Justiça de Santa Catarina e os classifica de acordo com as matérias utilizadas pela Terceira Vice-Presidência para distribuição entre acessores.</p>
            <p>A versão atual classifica os acordãos em:
                <ul>
                {% for key in rotulos.keys() %}
                <li><strong>{{key}}</strong> - {{rotulos[key]}}</li>
                {% endfor %}
                </ul>
            </p>
            <p class="text-muted pt-5">
                Essa aplicação foi desenvolvida por <a href="https://about.me/andre.piantino">André Porto Leal Piantino</a> como resultado do projeto aplicado no MBA em Aprendizado de Máquina no <span title="Instituto de Gestão e Tecnologia da Informação">IGTI</span>.
            </p>
            <p><a class="github-button text-muted" href="https://github.com/piantino/igti-projeto-aplicado" data-size="large" aria-label="Star piantino/igti-projeto-aplicado on GitHub">Código-fonte disponível no Github</a></p>
        </div>
    </div>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>